body {
	margin:0 0 0 0;
	background:#333;
	color: white;
	text-align: center;
}

#highscores {
	text-align: center;
	color: white;
	padding: 0px, 0px, 10px, 0px;
	width: 300px;
	position: absolute;
	left: 40%;
}

#highscores ul li {
	left: 45%;
	text-align: center;
}

a {
	color: white;
}
a:visited {
	color: white;
}


