body {
	margin:0 0 0 0;
	background:#333;
	color: white;
	text-align: center;
}

#highscores {
	left: 45%;
	text-align: center;
	color: white;
}

#highscores ul li {
	left: 45%;
	text-align: center;
}

a {
	color: white;
}
a:visited {
	color: white;
}


